Source: reportbug
Section: utils
Priority: standard
Maintainer: Reportbug Maintainers <reportbug-maint@lists.alioth.debian.org>
Uploaders: Sandro Tosi <morph@debian.org>, Y Giridhar Appaji Nag <giridhar@appaji.net>, Chris Lawrence <lawrencc@debian.org>
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 5.0.37.2), po4a (>= 0.23)
Build-Depends-Indep: python-dev (>= 2.5), python-support, python-nose, python-setuptools
XS-Python-Version: current, >= 2.5
DM-Upload-Allowed: yes
Vcs-Svn: svn://svn.debian.org/svn/reportbug/trunk/
Vcs-Browser: http://svn.debian.org/wsvn/reportbug/trunk/
Homepage: http://alioth.debian.org/projects/reportbug/

Package: reportbug
Architecture: all
Depends: ${python:Depends}, apt, python-reportbug
Suggests: postfix | exim4 | mail-transport-agent, gnupg | pgp, debconf-utils (>> 1.1.0), debsums, file (>> 1.30), dlocate, python-urwid, python-gtk2
Conflicts: python-urwid (<< 0.9.8-1), python-central (<< 0.5.13)
XB-Python-Version: ${python:Versions}
Description: reports bugs in the Debian distribution
 reportbug is a tool designed to make the reporting of bugs in Debian
 and derived distributions relatively painless.  Its features include:
 .
  * Integration with the mutt, af, and mh/nmh mail readers.
  * Access to outstanding bug reports to make it easier to identify
    whether problems have already been reported.
  * Automatic checking for newer versions of packages.
  * Optional automatic verification of integrity of packages via debsums.
  * Support for following-up on outstanding reports.
  * Optional PGP/GnuPG integration.
 .
 reportbug is designed to be used on systems with an installed mail
 transport agent, like exim or sendmail; however, you can edit the
 configuration file and send reports using any available mail server.
 .
 This package also includes the "querybts" script for browsing the
 Debian bug tracking system.

Package: python-reportbug
Section: python
Architecture: all
Depends: ${python:Depends}, apt
Suggests: reportbug
XB-Python-Version: ${python:Versions}
Description: Python modules for interacting with bug tracking systems
 reportbug is a tool designed to make the reporting of bugs in Debian
 and derived distributions relatively painless.
 .
 This package includes Python modules which may be reusable by other
 tools that want to interact with the Debian bug tracking system.
 .
 To actually report a bug, install the reportbug package.
